*{
    margin: 0;
    padding: 0;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background: linear-gradient(to bottom right , #1d976c, #3f4c6b);  
    background-attachment: fixed;
    position: relative;
}

.container{
    background: linear-gradient(to bottom right , #606c88, #3f4c6b);   
    margin-top: 40px;
    height: 595px;
    width: 200px;
    position: relative;
    min-width: 22rem;
    box-shadow: 0px 0px 50px #7787ac;
    border: 1px solid white;
}

.pic{
    height: 25%;
    width: 33.33%;
    position: absolute;
    transition: all 0.3s;
}

.pic img{
    padding-top: 1px;
    padding-left: 1px;
    height: 98%;
    width: 98%;
}

.pic:nth-child(1){
    top: 0;
    left: 0%;
}

.pic:nth-child(2){
    top: 0;
    left: 33%;
}

.pic:nth-child(3){
    top: 0;
    left: 66%;
}


.pic:nth-child(4){
    top: 25%;
    left: 0%;
}


.pic:nth-child(5){
    top: 25%;
    left: 33%;
}

.pic:nth-child(6){
    top: 25%;
    left: 66%;
}

.pic:nth-child(7){
    top: 50%;
    left: 0%;
}

.pic:nth-child(8){
    top: 50%;
    left: 33%;
}

.pic:nth-child(9){
    top: 50%;
    left: 66%;
}

.pic:nth-child(10){
    top: 75%;
    left: 0%;
}

.pic:nth-child(11){
    top: 75%;
    left: 33%;
}

.pic:nth-child(12){
    top: 75%;
    left: 66%;
}
