*{
    margin: 0;
    padding: 0;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background: linear-gradient(to bottom right , #1d976c, #3f4c6b);  
    background-attachment: fixed;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}

.container{
    background: linear-gradient(to bottom right , #606c88, #3f4c6b);   
    margin-top: 40px;
    height: 595px;
    width: 200px;
    position: relative;
    min-width: 22rem;
    box-shadow: 0px 0px 50px #7787ac;
    border: 1px solid white;
    cursor: pointer;
}

.pic{
    height: 25%;
    width: 33.33%;
    position: absolute;
    transition: all 0.3s;
}

.pic img{
    padding-top: 1px;
    padding-left: 1px;
    height: 98%;
    width: 98%;
}

.pointer{
    position: absolute;
    z-index: 3;
    height: 10%;
    width: 16%;
    top: 27%;
    left: 40%; 
    padding: 10px;
    border-radius: 50%;
    display: none;
    transition: top 0.4s;
}

.select{
    height: 100%;
    width: 100%;
    transform: rotate(-40deg);
}

#info{
    position: absolute;
    bottom: -7%;
    color: white;
    font-size: 20px;
    display: none;
}

.successPopup {
    display: grid;
    padding: 1rem;
    grid-template-rows: repeat(7,1fr);
    place-items: center;
    background: #fff;
    position: fixed;
    width: 14rem;
    height: 19rem;
    box-shadow: 1px 1px 18px #fff;
}
    
    .success {
        font-size: x-large;
        font-weight: bold;
    }

    .message {
        font-size: medium;
    }

    .successImage {
        grid-row: 4/5;
        transform: scale(3);
    }

    .continueBtn {
        grid-row: 7;
        height: 2.5rem;
        width: 10rem;
        background: #21af7d;
        border: none;
        color: white;
        border-radius: 18px;
        font-size: 19px;
    }

    
.pic:nth-child(1){
    top: 0;
    left: 0%;
}

.pic:nth-child(2){
    top: 0;
    left: 33%;
}

.pic:nth-child(3){
    top: 0;
    left: 66%;
}


.pic:nth-child(4){
    top: 25%;
    left: 0%;
}


.pic:nth-child(5){
    top: 25%;
    left: 33%;
}

.pic:nth-child(6){
    top: 25%;
    left: 66%;
}

.pic:nth-child(7){
    top: 50%;
    left: 0%;
}

.pic:nth-child(8){
    top: 50%;
    left: 33%;
}

.pic:nth-child(9){
    top: 50%;
    left: 66%;
}

.pic:nth-child(10){
    top: 75%;
    left: 0%;
}

.pic:nth-child(11){
    top: 75%;
    left: 33%;
}

.pic:nth-child(12){
    top: 75%;
    left: 66%;
}
